<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>greetings</title>
    <link type="text/css" rel="stylesheet" href="/css/greet.css">
  </head>
  <body>
    <div class ="container">
    <div class="header">
    <h1>Greeting Web Page<h1>
    </div>
    {{{body}}}
  </div>
  </body>
</html>
