<form class='greetingForm' method="post" action="/greetings">
  Name: <input type="text" class="name" name=name></input>
  <br>
  <div class="radioBtn">
    <input type="radio" name="language" value="Molo">IsiXhosa
    <input type="radio" name="language" value="Hello">English
    <input type="radio" name="language" value="Hallo">Afrikaans
  </div>
  <input type='submit' name="greet" class="submit" value="Greet"></input>
</form
<div class="err">
    <h1 style="color:red"> {{messages.error}}</h1>
</div>

<div class="entry">
    <h1> {{messages.info}}</h1>
</div>

<div class="entry">
    <h1> {{messages.count}}</h1>
</div>
<form class='greetingForm' method="post" action="/greetings/reset">
  <input type="submit" name="reset" class="reset" value="reset"></input>
</form>
