<a href="/greetings/greeted">GREETED NAMES</a>
<form class='greetingForm' method="post" action="/greetings">
  Name: <input type="text" class="name" name=name></input>
  <br>
  <div class="radioBtn">
    <input type="radio" name="language" value="Molo">IsiXhosa
    <input type="radio" name="language" value="Hello">English
    <input type="radio" name="language" value="Hallo">Afrikaans
  </div>
  <input type='submit' name="greet" class="submit" value="Greet"></input>
  <div class="err">
    <h4 style="color:red"> {{messages.error}}</h4>
  </div>

  <div class="entry">
    <h4> {{messages.info}}</h4>
  </div>

  <div class="entry">
    <h4> {{messages.count}}</h4>
  </div>
</form>
<form class='resetForm' method="post" action="/greetings/reset">
  <input type="submit" name="reset" class="reset" value="reset"></input>
</form>
